# LaTeX build artifacts
Chapter1/*.bbl
Chapter1/*.blg
Chapter1/*.pdf
Chapter2/*.pdf

# Working snapshots and version files
Chapter1/*_pre_*.tex
Chapter1/*_v[0-9]*.tex
Chapter1/*_v[0-9][0-9]*.tex
Chapter1/s3_*.txt
Chapter1/s3_*.tex
Chapter1/s3_*.tex

# Archives
*.zip
